body {
    background-color:lightgreen;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#game-board {
    background-color: black;
    position: relative;
}

#board-header {
    background-color: goldenrod;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.segment {
    background-color: white;

    position:absolute;

    text-align: center;
}

.edible {
    background-color: greenyellow;

    position: absolute;

    text-align: center;
}