body {
    background-color:lightgreen;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#game-board {
    background-color: black;
    position: relative;
}

#board-header {
    background-color: goldenrod;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#gameover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#gameover-content {
    background-color: white;
    width: 20%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.segment {
    background-color: white;

    position:absolute;

    text-align: center;
}

.edible {
    background-color: greenyellow;

    position: absolute;

    text-align: center;
}

.hidden {
    display: none !important;
}