body {
    background-color: black;
    margin: 0;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}


#game-board {
    position: relative;
}

#board-header {
    background-color: #30B083;
    height: 85px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    
}

#gameover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 0, 0, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#gameover-content {
    background-color: #30B083;
    color: white;
    box-sizing: border-box;
    width: 25%;
    height: 50%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#gameover-content h2 {
    color: #e5d9ff
}

#replay-button {
    background-color: #C9ADFF;
    padding: 10px;
    border: 4px solid #e5d9ff;
    text-decoration: none;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    
}

.score-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.segment {
    background-image: url("../assets/images/segment.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;

    text-align: center;
}

.head {
    background-image: url("../assets/images/head.png");
    background-repeat: no-repeat;
    background-size: cover;

    position:absolute;

    text-align: center;
}

.tail {
    background-image: url("../assets/images/tail.png");
    background-repeat: no-repeat;
    background-size: cover;

    position:absolute;

    text-align: center;
}

.corner {
    background-image: url("../assets/images/corner.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    position:absolute;

    text-align: center;
}

.edible {
    background-image: url("../assets/images/edible.png");

    position: absolute;

    text-align: center;
}

.hidden {
    display: none !important;
}

.checkerboard {
  width: 100%;
  height: 600px; /* Or whatever size you need */
  
  /* The Magic: Two overlapping gradients */
  background-image: 
    linear-gradient(45deg, #C9ADFF 25%, transparent 25%), 
    linear-gradient(-45deg, #C9ADFF 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #C9ADFF 75%), 
    linear-gradient(-45deg, transparent 75%, #C9ADFF 75%);
  
  /* Controls the size of the squares */
  background-size: 60px 60px;
  
  /* Positions the gradients to align into squares */
  background-position: 0 0, 0 30px, 30px -30px, -30px 0px;
  
  background-color: #e5d9ff; /* The "other" square color */
}